$color-azul: #2525bd;
$color-blanco: #fff;
$color-negro: #000;
$color-verde: #1a4e1a;
$color-rojo: #aa2222;
$color-gris: #9999;

$title-size: 4rem;
$parrafo-size: 2rem;

$margin1: 4rem 0;
$padding1: 6rem 0
